<!DOCTYPE html>
<html>
<head>
　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　<title>{{ page.title }}</title>
</head>
<body>
<div id="links" class="grid_header">
  <h1>  
  <a href="/kvm_blog/index.html"> =Blog= </a>
  <a href="/kvm_blog/friend.html"> =Links=  </a>
  <a href="/kvm_blog/author.html"> =Author=  </a>
  </h1>
</div>
　　{{ content }}
<div class="grid_footer">
    <p>The site is producted by 
      <a href="mailto:hhb584520@163.com">@Haibin</a>
	   If you have some advices, you can send mail to me.
    </p>
</div>

</body>
</html>
