<!DOCTYPE html>
<html>
<head>
　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　<title>{{ page.title }}</title>
</head>
<body>

　　{{ content }}

<div class="grid">
  <div class="footer">
    <p>此网站由
      <a href="hhb584520@163.com">@haibin</a>
      维护
    </p>
  </div>
  <div class="unit two-thirds align-right center-on-mobiles">
      <p>
        Proudly hosted by
        <img src="/img/small_haibin.jpg" width="100" height="100">
      </p>
   </div>
</div>

</body>
</html>

